* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #595758;
  background-color: #f2f2f2;
}
/* header ================================================= */

header {
	background-color: white;
	border-top: 3px solid #B19956;
}

h1, h2 {
  width: 900px;
  margin: 0 auto;
}

h1 a {
  text-decoration: none;
  color: #555;
  font-size: 28px;
  font-weight: 900;
  margin: 20px 0 0 0;
  display: block;
}

h1 a:hover {
  color: #333;
}

h2 {
  padding: 10px 0 0 0;
  font-size: 16px;
  color: #555;
  font-weight: 100;
}

header nav {
  margin: 30px 0 0 0;
  background-color: #EBEBE7;
}

header nav ul {
  width: 900px;
  margin: 0 auto;
}

header nav ul  li {
  display: inline-block;
  list-style: none;
}

header nav ul li a {
  display: block;
  color: #444;
  text-decoration: none;
  padding: 20px 0;
  margin-right: 30px;
  font-size: 12px;
  font-weight: 900;
}

nav ul li:hover {
  color: #B19956;
}

/* body============================================== */
div section {
	margin: 50px auto;
	width: 900px;
}

div section h1 {
  font-size: 14px;
  border-left: 3px solid #B19956;
  padding-left: 10px;
  margin-bottom: 20px;
  line-height: 1;
  text-align: left;
  font-weight: 900;
}

form {
  width: 900px;
  background-color: #fff;
  padding: 30px;
  margin: 30px auto 60px;
}

legend {
  font-size: 22px;
  font-weight: 900;
  margin: 0 0 15px 0;
  color: #B19956;
}

label {
  display: block;
  text-align: left;
  font-size: 16px;
	font-weight: 900;
	margin: 0 0 5px 0;
}

#personal, #corporation, #varify {
  float: left;
  width: 20px;
  margin: 0 0 5px 0;
  height: 15px;
}

form input, form textarea, select {
  padding: 10px;
  width: 880px;
  font-size: 13px;
  border: 1px solid #EBEBE7;
  margin: 2px 0 20px;
}

fieldset {
	margin: 0 0 30px 0;
	border: 0;
	border-bottom: 1px solid #ebebe7;
	padding: 0 0 30px 0;
}

/* footer=============================================== */

footer {
  text-align: center;
  background-color: #2D2D2D;
  color: #fff;
  padding: 30px 0;
  font-size: 12px;
}
